.labyrint__settings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.labyrint {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
.labyrint__box {
    margin: 50px auto;
    display: grid;
    grid-auto-rows: 100px;
    &__item {
        border: 1px solid black;
        position: relative;
        &.black {
            background-color: black;
        }
        &.start::before {
            background: red;
        }
        &.finish::before {
            background: black;
        }
    }
}
// @media (max-width: 768px) {
//     .labyrinth-content{
//         display: none;
//     }
// }