
  .labyrint__field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    .height__width {
      display: grid;
      grid-Template-Columns: repeat(2, 1fr);
      gap: 1rem;
    }
    .labyrint {
      margin-bottom: 4rem;
      display: grid;
      grid-auto-rows: 130px;
      &__block {
          border: 1px solid black;
          position: relative;
          width: 130px;
          &.fire {
            content: url(../images/Fire.png);
          }
          &.smile::before {
              content: url(../images/smile.png);
          }
          &.finish::before {
              content: url(../images/finish.png);
          }
      }
    }
  }
